---
bodyClass: bg-neutral-100
---

<x-main>
  <div class="bg-neutral-100 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full bg-white shadow-sm">
          <x-logo />
          <div class="w-full h-1 bg-emerald-700"></div>
          <table>
            <tr>
              <td class="px-6 py-8 text-base text-neutral-700">
                <p class="m-0 mb-4 leading-6">
                  <strong>Estimado(a) alumno(a),</strong>
                </p>
                <p class="m-0 mb-4 leading-6">
                  A través de este mensaje, deseamos expresarle un cordial
                  saludo y, al mismo tiempo, comunicarle que el próximo
                  <strong>SÁBADO 14 DE OCTUBRE</strong> del presente año,
                  habilitaremos la materia que se detalla a continuación,
                  durante el periodo especificado, con el fin de que pueda
                  cursarla:
                </p>
                <table class="w-full mb-6 text-base leading-6">
                  <tr>
                    <td
                      class="p-4 bg-emerald-50 border border-solid border-emerald-700 rounded-lg"
                    >
                      <p class="m-0 mb-2 leading-6 text-emerald-700">
                        <strong>Materia:</strong>
                        <br />
                        <strong>BIENES Y DERECHOS REALES</strong>
                      </p>
                      <p class="m-0 leading-6">
                        <strong>Profesor:</strong> Mtro. José Rafael Salazar Rodríguez
                      </p>
                      <p class="m-0 leading-6">
                        <strong>Inicio:</strong> 14 de octubre de 2023
                      </p>
                      <p class="m-0 leading-6">
                        <strong>Fin:</strong> 04 de noviembre de 2023
                      </p>
                    </td>
                  </tr>
                </table>
                <p class="m-0 mb-4 leading-6">
                  Sin otro particular, y estando a sus órdenes para cualquier
                  pregunta o comentario, quedamos a su disposición.
                </p>
                <x-alert variant="default">
                  Le sugerimos que continúe realizando sus pagos de manera
                  puntual, de modo que podamos activar sus materias en el
                  periodo correspondiente en cada bloque.
                </x-alert>
                <x-spacer height="16px" />
                <p class="m-0 mb-4 leading-6">Atentamente,</p>
                <x-signature />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>
