---
bodyClass: bg-neutral-100
preheader: 'Entra para ver más detalles'
---

<x-main>
  <div class="bg-neutral-100 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full bg-white shadow-sm">
          <x-logo />
          <x-divider height="4px" color="#047857" top="0px" bottom="0px" />
          <table>
            <tr>
              <td class="px-6 py-8 text-base text-neutral-700">
                <p class="m-0 mb-4 leading-6">
                  <strong>Estimado Mtro. JUAN CARLOS GONZALEZ GONZALEZ,</strong>
                </p>
                <p class="m-0 mb-4 leading-6">
                  Por este conducto me permito enviarle un cordial saludo y al
                  mismo tiempo deseo se encuentre muy bien.
                </p>
                <p class="m-0 mb-4 leading-6">
                  El motivo del presente es para preguntarle si nos puede apoyar
                  con la revisión de la materia
                  <strong>ADMINISTRACIÓN</strong> que iniciará el día
                  <strong>07 DE OCTUBRE</strong> y terminará el día
                  <strong>28 DE OCTUBRE</strong> del presente año, con el grupo
                  de
                  <strong>LICENCIATURA EN ADMINISTRACIÓN DE PERSONAL</strong> de
                  <strong>1° SEMESTRE</strong>, en
                  <strong>MODALIDAD EN LÍNEA.</strong>
                  <span class="text-emerald-700 underline"
                    >https://enlinea.unitex.edu.mx/</span
                  >
                </p>
                <p class="m-0 mb-4 leading-6">
                  También deberá brindar dos asesorías en vivo al grupo en las
                  siguientes fechas: <strong>19 y 26 DE OCTUBRE</strong> en
                  horario de <strong>18:00 a 19:00 HORAS</strong> (esta fecha y
                  horario puede ajustarlo según su disponibilidad) solo le
                  pedimos que les publique en la plataforma Moodle, el link de
                  acceso con anticipación y ahí mismo les haga de conocimiento
                  el día y la hora.
                </p>
                <x-alert variant="success">
                  Asimismo, se le informa que en este correo, se adjuntan
                  algunos documentos que le serán de utilidad para el curso,
                  tales como: acta de calificaciones, programa de estudios,
                  calendario de la materia, entre otros.
                </x-alert>
                <p class="m-0 my-4 leading-6">
                  De igual forma es indispensable comentarle lo importante que
                  serán las revisiones y retroalimentación en la plataforma para
                  los alumnos, ya que de esa manera podrán interactuar con
                  usted, aclarar dudas si es que las tuvieran, y sentir el
                  acompañamiento por parte del docente durante el bloque de la
                  materia.
                </p>
                <x-alert variant="default">
                  Finalmente, se le informa que el pago correspondiente a este
                  módulo estará supeditado a la entrega y cumplimiento en su
                  totalidad de los compromisos académicos docentes que asume con
                  la aceptación de esta asignatura, los cuales son:
                  <ul class="list-disc list-outside">
                    <li>
                      Elaboración, revisión o actualización de su avance
                      programático, según sea el caso.
                    </li>
                    <li>
                      Revisión semanal y calificación de las actividades y
                      tareas de los alumnos.
                    </li>
                    <li>
                      Realizar la retroalimentación y comentarios pertinentes en
                      los trabajos de los educandos.
                    </li>
                    <li>
                      Responder y aclarar las dudas que manifiesten los alumnos
                      en el buzón de la plataforma.
                    </li>
                    <li>
                      Brindar las asesorías en vivo a los alumnos (si es el caso
                      con el grupo).
                    </li>
                    <li>
                      Enviar el acta firmada al departamento de Control Escolar
                      al correo de
                      <span class="underline"
                        >modalidad_esc.mix@unitex.edu.mx</span
                      >
                      y con copia a
                      <span class="underline"
                        >jefatura.control.escolar@unitex.edu.mx</span
                      >
                      al término del bloque (por correo electrónico).
                    </li>
                  </ul>
                </x-alert>
                <p class="m-0 my-4 leading-6">
                  Sin otro particular, expreso a usted un cordial saludo y
                  <strong>quedo pendiente de su respuesta</strong>. Saludos
                  cordiales.
                </p>
                <p class="m-0 mb-4 leading-6">Atentamente,</p>
                <x-signature />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>
