---
bodyClass: bg-neutral-100
preheader: 'Entra para ver más detalles'
---

<x-main>
  <div class="bg-neutral-100 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full bg-white shadow-sm">
          <x-logo />
          <x-divider height="4px" color="#047857" top="0px" bottom="0px" />
          <table>
            <tr>
              <td class="px-6 py-8 text-base text-neutral-700">
                <p class="m-0 mb-4 leading-6">
                  <strong>Estimado Mtro. JUAN CARLOS GONZALEZ GONZALEZ,</strong>
                </p>
                <p class="m-0 mb-4 leading-6">
                  En nombre de la
                  <strong
                    >Universidad Técnica Superior de Xalapa (UNITEX)</strong
                  >, le extendemos una cordial bienvenida al equipo docente de
                  la modalidad virtual.
                </p>
                <p class="m-0 mb-4 leading-6 text-emerald-700">
                  El motivo de este mensaje es para informarle que adjunto a
                  este correo electrónico encontrará los archivos con la
                  información detallada sobre la asignación de la materia para
                  grabación, el período, grupo, formatos, entre otros. Le
                  solicitamos amablemente que complete estos documentos y los
                  cargue en la plataforma Moodle.
                </p>
                <p class="m-0 mb-4 leading-6">
                  También le proporcionamos el acta que deberá utilizar para
                  registrar las calificaciones al finalizar el módulo. Es
                  importante destacar que las calificaciones deben ser
                  expresadas en números enteros. Por ejemplo, si el resultado es
                  8.5, debe redondearse al entero superior (9). La escala de
                  calificación abarca del 0 al 10. Puede optar por imprimir el
                  acta, completarla manualmente, firmarla y escanearla, o
                  llenarla electrónicamente, agregar su firma digital,
                  convertirla a PDF y enviarla a
                  <span class="text-emerald-700 underline"
                    >modalidad_esc.mix@unitex.edu.mx</span
                  >
                  y con copia a
                  <span class="text-emerald-700 underline"
                    >jefatura.control.escolar@unitex.edu.mx</span
                  >.
                </p>
                <p class="m-0 mb-4 leading-6">
                  Finalmente, le rogamos que cualquier consulta o comentario que
                  pueda tener sea compartido con nosotros a través de este
                  canal.
                </p>
                <x-alert variant="default">
                  También le solicitamos que confirme la recepción de este
                  correo y su disponibilidad para asumir la asignatura en
                  cuestión.
                </x-alert>
                <x-spacer height="16px" />
                <x-alert variant="success">
                  Para coordinar las sesiones de grabación, le pedimos que se
                  comunique con nosotros al teléfono 2288185353 ext. 107.
                </x-alert>
                <p class="m-0 my-4 leading-6">
                  Tenga en cuenta que el programa de la materia adjunto puede
                  ser adaptado o ajustado según su criterio.
                </p>
                <p class="m-0 mb-4 leading-6">
                  Sin más asuntos que tratar, le envío un cordial saludo y quedo
                  a la espera de su confirmación.
                </p>
                <p class="m-0 mb-4 leading-6">Atentamente,</p>
                <x-signature />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>
