---
bodyClass: bg-neutral-100
preheader: 'Entra para ver más detalles'
---

<x-main>
  <div class="bg-neutral-100 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full bg-white shadow-sm">
          <x-logo />
          <x-divider height="4px" color="#047857" top="0px" bottom="0px" />
          <table>
            <tr>
              <td class="px-6 py-8 text-base text-neutral-700">
                <p class="m-0 mb-4 leading-6">Estimado alumno de UNITEX,</p>
                <p class="m-0 mb-4 leading-6">
                  <strong>¡Te damos la bienvenida nuevamente! </strong>
                </p>
                <p class="m-0 mb-4 leading-6">
                  Estamos emocionados de recibirte en nuestra comunidad
                  académica. Para iniciar este nuevo ciclo de manera exitosa, te
                  invitamos a nuestra ceremonia de inauguración al nuevo ciclo
                  escolar 2024.
                </p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Detalles del evento:</strong>
                </p>
                <p class="m-0 leading-6">
                  <strong>Fecha:</strong> 21 de septiembre de 2024
                </p>
                <p class="m-0 leading-6"><strong>Hora:</strong> 10:00 a.m.</p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Plataforma:</strong> Zoom
                </p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Enlace de acceso:</strong>
                  <a
                    href="https://us02web.zoom.us/j/88153732756?pwd=3iT0Vozz1ULbCPN35IRbMwDS2d7NHk.1"
                    class="text-emerald-700 underline"
                    target="_blank"
                    rel="noopener noreferrer"
                    >https://us02web.zoom.us/j/88153732756?pwd=3iT0Vozz1ULbCPN35IRbMwDS2d7NHk.1</a
                  >
                </p>
                <p class="m-0 leading-6">
                  <strong>ID de reunión:</strong> 881 5373 2756
                </p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Código de acceso:</strong> 422483
                </p>
                <p class="m-0 mb-4 leading-6">
                  Durante este evento, te brindaremos toda la información
                  relevante para tu nuevo ciclo académico.
                </p>
                <p class="m-0 mb-6 leading-6">Atentamente</p>
                <x-signature class="mt-6" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>
