---
bodyClass: bg-neutral-100
preheader: 'Entra para ver más detalles'
---

<x-main>
  <div class="bg-neutral-100 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full bg-white shadow-sm">
          <x-logo />
          <x-divider height="4px" color="#047857" top="0px" bottom="0px" />
          <table>
            <tr>
              <td class="px-6 py-8 text-base text-neutral-700">
                <p class="m-0 mb-4 leading-6">Estimado alumno de UNITEX,</p>
                <p class="m-0 mb-4 leading-6">
                  <strong>¡Te damos la bienvenida nuevamente! </strong>
                </p>
                <p class="m-0 mb-4 leading-6">
                  Es un placer invitarte a dar inicio a tus estudios de maestría
                  en nuestro programa. Te esperamos con entusiasmo para comenzar
                  este nuevo ciclo escolar 2024.
                </p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Detalles del evento:</strong>
                </p>
                <p class="m-0 leading-6">
                  <strong>Fecha:</strong> 5 de octubre de 2024
                </p>
                <p class="m-0 leading-6"><strong>Hora:</strong> 11:00 a.m.</p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Plataforma:</strong> Zoom
                </p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Enlace de acceso:</strong>
                  <a
                    href="https://us02web.zoom.us/j/88134466674?pwd=uSyH8BTCIBhRjwZHjdA2JCdX09uPZb.1"
                    class="text-emerald-700 underline"
                    target="_blank"
                    rel="noopener noreferrer"
                    >https://us02web.zoom.us/j/88134466674?pwd=uSyH8BTCIBhRjwZHjdA2JCdX09uPZb.1</a
                  >
                </p>
                <p class="m-0 leading-6">
                  <strong>ID de reunión:</strong> 881 3446 6674
                </p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Código de acceso:</strong> 766321
                </p>
                <p class="m-0 mb-4 leading-6">
                  A través de esta videoconferencia, te brindaremos toda la
                  información relevante para tu nuevo ciclo académico.
                </p>
                <p class="m-0 mb-6 leading-6">Atentamente</p>
                <x-signature class="mt-6" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>
