---
bodyClass: bg-neutral-100
---

<x-main>
  <div class="bg-neutral-100 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full bg-white shadow-sm">
          <x-logo />
          <x-divider height="4px" color="#047857" top="0px" bottom="0px" />
          <table>
            <tr>
              <td class="px-6 py-8 text-base text-neutral-700">
                <p class="m-0 mb-4 leading-6">Estimado alumno de UNITEX,</p>
                <p class="m-0 mb-4 leading-6">
                  <strong>¡Te damos la bienvenida nuevamente! </strong>
                </p>
                <p class="m-0 mb-4 leading-6">
                  Queremos invitarte a nuestro curso de inducción virtual, donde
                  te brindaremos toda la información necesaria para comenzar tus
                  estudios de manera exitosa.
                </p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Detalles del curso de inducción:</strong>
                </p>
                <p class="m-0 leading-6">
                  <strong>Fecha:</strong> 24 de agosto de 2024
                </p>
                <p class="m-0 leading-6"><strong>Hora:</strong> 11:00 a.m.</p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Plataforma:</strong> Zoom
                </p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Enlace de acceso:</strong>
                  <a
                    href="https://us02web.zoom.us/j/85995145946?pwd=VwB4IkoRAdJ2cCfKZNmIaUXgqz2Yx5.1"
                    class="text-emerald-700 underline"
                    target="_blank"
                    rel="noopener noreferrer"
                    >https://us02web.zoom.us/j/85995145946?pwd=VwB4IkoRAdJ2cCfKZNmIaUXgqz2Yx5.1</a
                  >
                </p>
                <p class="m-0 leading-6">
                  <strong>ID de reunión:</strong> 859 9514 5946
                </p>
                <p class="m-0 mb-4 leading-6">
                  <strong>Código de acceso:</strong> 280266
                </p>
                <p class="m-0 mb-4 leading-6">
                  Agradecemos tu atención y esperamos verte en el curso de
                  inducción.
                </p>
                <p class="m-0 mb-4 leading-6 text-center">
                  <a
                    href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20240824T170000Z%2F20240824T190000Z&details=UNIVERSIDAD%20UNITEX%20te%20est%C3%A1%20invitando%20a%20una%20sesi%C3%B3n%20de%20Zoom%20agendada.%0ATema%3A%20Curso%20de%20Inducci%C3%B3n%202024%20-%20UNITEX%0AFecha%3A%20Agosto%2024%2C%202024%2011%3A00%20AM%0A%0AEntra%20a%20la%20sesi%C3%B3n%20de%20Zoom%0Ahttps%3A%2F%2Fus02web.zoom.us%2Fj%2F85995145946%3Fpwd%3DVwB4IkoRAdJ2cCfKZNmIaUXgqz2Yx5.1%0A%0AID%20de%20la%20sesi%C3%B3n%3A%20859%209514%205946%0AContrase%C3%B1a%3A%20280266&location=&text=Curso%20de%20Inducci%C3%B3n%202024"
                    class="text-emerald-700 underline"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Google Calendar
                  </a>
                  •
                  <a
                    href="https://outlook.live.com/calendar/0/action/compose?allday=false&body=UNIVERSIDAD%20UNITEX%20te%20est%C3%A1%20invitando%20a%20una%20sesi%C3%B3n%20de%20Zoom%20agendada.%0ATema%3A%20Curso%20de%20Inducci%C3%B3n%202024%20-%20UNITEX%0AFecha%3A%20Agosto%2024%2C%202024%2011%3A00%20AM%0A%0AEntra%20a%20la%20sesi%C3%B3n%20de%20Zoom%0Ahttps%3A%2F%2Fus02web.zoom.us%2Fj%2F85995145946%3Fpwd%3DVwB4IkoRAdJ2cCfKZNmIaUXgqz2Yx5.1%0A%0AID%20de%20la%20sesi%C3%B3n%3A%20859%209514%205946%0AContrase%C3%B1a%3A%20280266&enddt=2024-08-24T13%3A00%3A00&location=&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2024-08-24T11%3A00%3A00&subject=Curso%20de%20Inducci%C3%B3n%202024"
                    class="text-emerald-700 underline"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Outlook
                  </a>
                </p>
                <p class="m-0 mb-6 leading-6">Atentamente</p>
                <x-signature class="mt-6" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>
