---
bodyClass: bg-neutral-100
preheader: 'Entra para ver más detalles'
---

<x-main>
  <div class="bg-neutral-100 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full bg-white shadow-sm">
          <x-logo />
          <x-divider height="4px" color="#047857" top="0px" bottom="0px" />
          <table>
            <tr>
              <td class="px-6 py-8 text-base text-neutral-700">
                <p class="m-0 mb-4 leading-6">
                  <strong>Estimado profesor de UNITEX,</strong>
                </p>
                <p class="m-0 mb-4 leading-6">
                  Nos complace darle la bienvenida y confirmar su incorporación
                  a nuestra distinguida comunidad de educadores en UNITEX. Este
                  correo electrónico tiene como objetivo proveerle los detalles
                  necesarios para acceder a nuestras plataformas en línea, lo
                  cual es un paso esencial para iniciar su experiencia de
                  enseñanza con nosotros.
                </p>
                <p class="m-0 mb-4 leading-6">
                  A continuación, encontrará su nombre de usuario y contraseña.
                  Estas credenciales le permitirán ingresar fácilmente a nuestro
                  sistema y comenzar a preparar sus cursos de manera eficiente y
                  efectiva.
                </p>
                <table class="w-full mb-6 text-base leading-6">
                  <tr>
                    <td
                      class="p-4 bg-emerald-50 border border-solid border-emerald-700 rounded-lg"
                    >
                      <p class="m-0 mb-2 leading-6 text-emerald-700">
                        <strong>Detalles de acceso a Moodle:</strong>
                      </p>
                      <p class="m-0 leading-6">
                        <strong>Usuario:</strong> usuario2023
                      </p>
                      <p class="m-0 mb-4 leading-6">
                        <strong>Contraseña:</strong> Usuario.2023
                      </p>
                      <x-button
                        align="left"
                        href="https://enlinea.unitex.edu.mx/"
                      >
                        Ir a la plataforma
                      </x-button>
                    </td>
                  </tr>
                </table>
                <table class="w-full mb-6 text-base leading-6">
                  <tr>
                    <td
                      class="p-4 bg-emerald-50 border border-solid border-emerald-700 rounded-lg"
                    >
                      <p class="m-0 mb-2 leading-6 text-emerald-700">
                        <strong
                          >Detalles de acceso a correo electrónico:</strong
                        >
                      </p>
                      <p class="m-0 leading-6">
                        <strong>Correo:</strong> usuario2023@unitex.edu.mx
                      </p>
                      <p class="m-0 mb-4 leading-6">
                        <strong>Contraseña:</strong> Usuario.2023
                      </p>
                      <x-button
                        align="left"
                        href="https://webmail.unitex.edu.mx/"
                      >
                        Revisar mi correo
                      </x-button>
                    </td>
                  </tr>
                </table>
                <p class="m-0 mb-4 leading-6">
                  Agradecemos profundamente su elección de unirse a UNITEX y
                  contribuir a nuestros objetivos académicos. ¡Estamos
                  entusiasmados por trabajar con usted y continuar brindando
                  educación de calidad a nuestros estudiantes!
                </p>
                <p class="m-0 mb-6 leading-6">Atentamente</p>
                <x-signature class="mt-6" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>
