<table align="center">
  <tr>
    <td class="px-6 py-8 text-sm text-neutral-700 text-center">
      <a href="https://www.facebook.com/unitexuniversidad/" class="no-underline" target="_blank" rel="noopener noreferrer">
        <img src="https://res.cloudinary.com/dprfogybp/image/upload/v1718903919/unitex/facebook_wnwyrv.png" alt="Facebook" width="32" height="32" class="mr-4" />
      </a>
      <a href="https://www.instagram.com/unitex_universidad/" class="no-underline" target="_blank" rel="noopener noreferrer">
        <img src="https://res.cloudinary.com/dprfogybp/image/upload/v1718903918/unitex/instagram_pvkxkb.png" alt="Instagram" width="32" height="32" class="mr-4" />
      </a>
      <a href="https://www.youtube.com/channel/UCyASuUBnlMlvERyVaOBkESA" class="no-underline" target="_blank" rel="noopener noreferrer">
        <img src="https://res.cloudinary.com/dprfogybp/image/upload/v1718903918/unitex/youtube_ctpyti.png" alt="YouTube" width="32" height="32" class="mr-4" />
      </a>
      <a href="https://www.tiktok.com/@unitex_xalapa" class="no-underline" target="_blank" rel="noopener noreferrer">
        <img src="https://res.cloudinary.com/dprfogybp/image/upload/v1718903918/unitex/tiktok_vlysds.png" alt="TikTok" width="32" height="32" class="mr-4" />
      </a>
      <x-logo />
      <p class="m-0 mb-2">Universidad Técnica Superior de Xalapa</p>
      <p class="m-0 mb-2">
        Aldama 75 Esq. 5 de Febrero, Colonia Centro, C.P. 91000, Xalapa, Veracruz.
      </p>
      <p class="m-0 mb-2">
        <span class="mr-2">2288123314</span>
        <span class="mr-2">2288185353</span>
        <span class="text-amber-600">Ext. 101, 102, 112</span>
      </p>
    </td>
  </tr>
</table>
